/* Header */
.color-grey{
    background-color: rgb(43, 41, 41);
    width: 100%;
    height: 5rem;
}
/* jumbotron */                                                 
.color-acqua{
    background-color:rgb(4, 101, 101);
    color: white;
    width: 100%;
    min-height: 300px ;

}
/* regole colore/impaginazione */
.content {
    width: 100%;
    display: flex; 
    justify-content: center;
    align-items: center;
    
}
.content img{
    width: 350px;
    height: 280px;
}

.black-line{
    width: 15%;
    height: .2rem;
    background-color: black;
    border-radius: 15px; 
}

.white-line{
    width: 15%;
    height: .2rem;
    background-color: white;
    border-radius: 15px; 
}
.text{
    margin-bottom: 20px;
}
.download{
    padding: 10px 0px;
    border-style: none;

}
/*footer*/

.footer-sup
{
    background-color: rgb(58, 84, 109);
    min-height: 200px;
    color: white;
}

.footer-sub
{
    background-color: rgb(44, 62, 80);
    min-height: 200px;
    color: white;
}